@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap");

.contactDetails p {
  padding: 0px !important;
}
.contact {
  padding: 3%;
  padding-top: 50px;
  /* width: 80%; */
  /* margin: auto; */
  /* margin: 20%; */
  margin-left: 10%;
  display: flex;
  /* justify-content: space-around; */
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 1.25rem;
  font-family: "Antic Slab", serif;
}

.contactDetails {
  width: 40%;
}

.contactDetails p {
  color: white;
  font-family: "Antic Slab", serif;
}

.contactDetails p:nth-child(1) {
  font-size: 3rem;
  font-family: "Patrick Hand", cursive;
  color: white;
  /* background: -webkit-linear-gradient(#bc4e9c, #f80759);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.contactDetails > div {
  margin-top: 16px;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  gap: 6px;
}

/* .contactDetails > div:nth-child(4) {
  margin-top: 40px;
} */

.contactDetails > div:nth-child(4) div {
  font-size: 18px;
  margin-bottom: 5px;
  color: #bc4e9c;
}

.formContainer input,
.formContainer textarea {
  text-decoration: none;
  outline: none;
  background-color: transparent;
  border-style: none;
  color: white;

  border: 1px solid white;
  padding: 2.5%;

  border-radius: 7px;
}

.formContainer button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  gap: 1rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 7px;
  border: none;
  background-color: white;
}

.formContainer label {
  color: white;
  font-size: 1.25rem;
}

.formContainer textarea {
  height: 100px;
}

.contactDetails .clickMe {
  position: relative;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .contact {
    flex-direction: column;
    gap: 1.5rem;
  }
  .contactDetails {
    width: 100%;
    margin: auto;
  }
  .formContainer {
    width: 100%;
  }
  .contactDetails > div:nth-child(4) {
    margin-top: 20px;
  }

  .contactDetails > div:nth-child(2) p,
  .contactDetails > div:nth-child(3) p {
    font-size: 18px;
  }
  .contactDetails p:nth-child(1) {
    font-size: 2.5rem;
  }
}
