@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Readex+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap");

.tab a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: white;
}
/* .tab a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  z-index: 10;
} */
.tab a:hover:after {
  width: 100%;
  left: 0;
}
.header {
  background-color: black;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  z-index: 999;
}
.navBar {
  width: 80%;
  margin: auto;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.tab {
  display: flex;
  gap: 2rem;
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.25rem;
  padding: 0.15rem;
}

.name {
  padding: 0.15rem;
  margin-left: 42px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.name img {
  animation: fadeIn 5s ease-in-out linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.content p:nth-child(1) {
  font-family: "Antic Slab", serif;
  font-size: 3rem;
}

.content p:nth-child(2) {
  /* font-family: 'Lato', sans-serif; */
  font-family: "Antic Slab", serif;
  font-size: 1.25rem;
  text-align: justify;
  line-height: 1.5;
  text-align: center;
  color: #9b9b9b;
  letter-spacing: 2px;
}

.content {
  color: #fff;
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconWrap {
  display: flex;
  gap: 0.85rem;
  padding: 10px;
  align-items: center;
}

.wrap {
  display: flex;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: 22%;
  margin-top: 24%;
  margin-right: 1%;
  gap: 3rem;
}

.profilePic {
  border-radius: 7px;
}

.parent {
  height: 100vh;
}

.white {
  background-color: white;
  width: 30%;
  height: 100vh;
}

.black {
  /* background-color: black; */
  background-image: url("https://images.unsplash.com/photo-1603366615917-1fa6dad5c4fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  width: 70%;
  color: white;
  height: 100vh;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .name{
    display: none;
  }
  .tab {
    gap: 0;
    font-size: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    margin:auto;
  }
  .iconWrap {
    flex-wrap: wrap;
    justify-content: center;
  }

  .wrap {
    flex-direction: column-reverse;
    gap: 0;
    margin-left: 1%;
    justify-content: center;
    align-items: center;
    margin-top:20%;
  }
  .content {
    width: 70%;
  }

  .content p:nth-child(1) {
    font-size: 1.9rem;
    text-align: center;
  }
  .content p:nth-child(2)
 {
    font-size: 1rem;
    text-align: center;
    line-height: 1.5;
  }
  .profilePic {
    width: 50%;
  }

  .wrap div:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .parent {
    height: 600px;
  }

  .white {
    display: none;
  }

  .black {
    width: 100%;
    height: 600px;
  }
}
